<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title th:text="#{appname}">Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/ust.css" />
    <script src="/js/jquery2.js"></script>
    <div th:replace="fragment :: css"></div>
    <div th:replace="fragment :: javascripttop"></div>
</head>
<body>
<div th:replace="fragment :: faceheadline"></div>
</br></br></br>
<div class="card" style="width: 18rem;">
        <div th:unless="${aboutprofile.profilepicture}">
        <img class="card-img-top" src="/img/dummyprofile.jpg" alt="Card image cap">
        </div>
        <div th:if="${aboutprofile.profilepicture}">
            <img class="card-img-top" th:src="${aboutprofile.profilepicture}" alt="Card image cap"/>
        </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" th:text="${aboutprofile.fullName}"></p>
        <p class="card-text" th:text="${aboutprofile.bio}"></p>
        <p class="card-text" th:text="${aboutprofile.birthDate}"></p>
        <p class="card-text" th:text="${aboutprofile.email}"></p>
        <a th:href="@{/profile}" class="btn btn-primary">View Full Profile</a>
    </div>
</div>
</br></br>
<div class="card mb-5">
        <div class="card-header">Interests</div>
        <div class="card-body"><p th:if = "${aboutprofile.freeTextOfInterests}" th:text="${aboutprofile.freeTextOfInterests}"></p>
        </div>
        <div class="d-flex mb-2">
            <span class="ml-1 badge-pill badge-primary mr-1" th:each="category : ${aboutprofile.categories}" th:text="${category}"></span>
        </div>
</div>


</body>
<div th:replace="fragment :: js"></div>
</html>
