<!DOCTYPE html>
<br lang="en" xmlns:th="www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title th:text="#{appname}">Title</title>
    <link type="text/css" rel="stylesheet" href="/css/ust.css" />
    <script src="/js/jquery2.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div th:replace="fragment :: css"></div>
    <div th:replace="fragment :: javascripttop"></div>
</head>
<br>
<div th:replace="fragment :: faceheadline"></div>
</br></br></br>
<div class="container">
    <div th:each="profile: ${profiles}">
        <div th:if="${profile.profilepicture}">
            <img th:src="${profile.profilepicture}"/>
        </div>
        <div th:unless="${profile.profilepicture}">
            <img src="/img/profile.png" height="30"/>
        </div>
        <h3 th:text="${profile.fullName}"></h3>
        <h3><a th:href="@{/follow/{id}(id = ${profile.id})}">Follow</a></h3>
    </div>
</div>

</body>
<div th:replace="fragment :: js"></div>
</html>

