<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{appname}">Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/ust.css" />
    <script src="/js/jquery2.js"></script>
    <div th:replace="fragment :: javascripttop"></div>
</head>
<body>
<div th:replace="fragment :: faceheadline"></div>
<div class="header0001">
</div>

<div class="coverpad">
</div>
<div class="coverpadx">
    <div th:unless="${profile.coverpicture}">
    <img src="/img/dummycover.jpg" width="850px"/>
    </div>
    <div th:if="${profile.coverpicture}">
        <img th:src="${profile.coverpicture}" width="850px"/>
    </div>
</div>

<div class="profilepic">
</div>
<div class="profilepicx">
    <div th:unless="${profile.profilepicture}">
    <img src="/img/dummyprofile.jpg" height="140px"/>
    </div>
    <div th:if="${profile.profilepicture}">
        <img th:src="${profile.profilepicture}" height="140px"/>
    </div>
</div>


<div class="username">
    <p th:text="${profile.fullName}"></p>
</div>
<div class="box11"><a th:href="@{/}">Timeline</a>
</div>
<div class="box12"><a th:href="@{/about}">About</a>
</div>
<div class="box13"><a th:href="@{/listfriends}">Friends</a>
</div>
<div class="box14"><a th:href="@{/peopleyoumayknow}">+Friends</a>
</div>
<div class="chat-sidebarx">
</div>
<div class="chat-sidebar"><div id="chatnamebox" class="chat-sidebar">Chat with the Famous</div>
    <div id="chatnamebox1" class="chat-sidebar">Jim Michael</div>
    <div id="chatnamebox2" class="chat-sidebar">Michael Kors</div>
    <div id="chatnamebox3" class="chat-sidebar">Katty Perry</div>
    <div id="chatnamebox4" class="chat-sidebar">Denzel Washington</div>
    <div id="chatnamebox5" class="chat-sidebar">Robert Williams</div>
    <div id="chatnamebox6" class="chat-sidebar">Charlie Sheen</div>
    <div id="chatnameboxp1" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp2" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp3" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp4" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp5" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp6" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
    <div id="chatnameboxp7" class="chat-sidebar"><i class="material-icons" style="font-size:48px;">person</i></div>
</div>

</body>
</html>